body {
  margin: 0 !important;
  padding: 0 !important;
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
}

.img-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 26px;
  font-family: cursive;
}

.column {
  float: left;
  width: 20%;
  position: relative;
  align-items: center;
}

.icon {
  display: fixed;
  height: 20px;
  width: 20px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  position: fixed;
  display: flex;
  height: 30px;
  width: 100vw;
  background-color: black;
  justify-content: space-between;
}

.date {
  color: whitesmoke;
}

@media (max-width: 600px) {
  .img-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
  }

  .page {
    display: table;
    width: 100vw;
    height: 100vh;
  }

  .column {
    float: none;
    width: 100%;
    position: relative;
    align-items: center;
  }

  img {
    height: 100%;
    width: 100% !important;
    object-fit: cover;
  }
}

@media screen and (max-width: 600px) {
  .date {
    visibility: hidden;
    clear: both;
    float: right;
    display: none;
  }
}